<header class="header">
  <h1>Moodtracker</h1>

  <a class="info">What is this?</a>
</header>

<div class="howyadoin">
  <h2>How are you feeling?</h2>
  <p></p>
</div>

<div class="moodtracker">
  <figure class="moodtracker-vis" ng-controller="faceCtrl" hm-panup="moodChange.down()" hm-pandown="moodChange.up()" hm-recognizer-options='{"threshold": 50}'>
    <svg id="face" viewbox="0 0 100 80"></svg>
  </figure>


  <button class="moodtracker-submit" ng-if="currentMood().value" ng-click="setMood(currentMood().value)">I'm feeling {{currentMood().text}}</button>
  <span ng-if="moodsArr.length">{{getAverageMood(moodsArr)}} out of {{moodsArr.length}} moods</span>
</div>

<footer class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Kiandra team</p>
</footer>
