<header class="header">

  <a class="info">What is this?</a>
</header>

<div class="howyadoin≈">
  <h2 class="text-center type-fancy">How are you feeling?</h2>
</div>

<div class="moodtracker">
  <figure class="moodtracker-vis" ng-controller="faceCtrl" hm-panup="moodChange.down()" hm-pandown="moodChange.up()" hm-panend="moodChange.resetHolder()" hm-recognizer-options='{"threshold": 40}'>
    <svg id="face" viewbox="0 0 100 80"></svg>
  </figure>


  <button class="moodtracker-submit" ng-if="currentMood().value" ng-click="setMood(currentMood().value)">I'm feeling {{currentMood().text}}</button>
  <span ng-if="moodsArr.length">{{getAverageMood(moodsArr)}} out of {{moodsArr.length}} moods</span>
</div>

<footer class="footer">
</footer>
